.page__header {
  display: flex;
  justify-content: space-between;
  background-color: #073042;
  padding: 0 70px;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

@media screen and (max-width: 1023px) {
  .page__header {
    padding: 0 30px;
  }
}

@media screen and (max-width: 767px) {
  .page__header {
    padding: 0 14px;
  }
}

.page__header_another {
  background-color: #fff;
}

.header__link-home {
  display: block;
  width: 38px;
  height: 38px;
  margin: 18px 0;
  background-image: url('../../images/header_logo.svg');
  transition: opacity .2s ease;
}

.header__links-container {
  padding: 21px 0 0 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .header__links-container {
    padding-top: 24px;
  }
}

.header__signup {
  margin-right: 30px;
  text-decoration: none;
  font-family: Inter;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
  transition: opacity .2s ease;
}

@media screen and (max-width: 767px) {
  .header__signup {
    margin-right: 14px;
    font-size: 10px;
  }
}

.header__signin {
  text-align: center;
  padding-top: 8px;
  background-color: #2BE080;
  display: block;
  border-radius: 3px;
  width: 76px;
  min-height: 32px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Inter;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
  transition: opacity .2s ease;
}

@media screen and (max-width: 767px) {
  .header__signin {
    padding-top: 4px;
    width: 54px;
    min-height: 26px;
    font-size: 10px;
  }
}

.header__nav {
  width: 100%;
  transition: width .2s linear, visibility .2s linear;
}

@media screen and (max-width: 768px) {
  .header__nav {
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .3);
    z-index: 1;
  }
}

.header__nav_open {
  width: 100%;
  visibility: visible;
}

.header__links-container_another {
  padding-top: 24px;
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 768px) {
  .header__links-container_another {
    box-sizing: border-box;
    width: 520px;
    height: 100vh;
    padding-top: 159px;
    padding-bottom: 210px;
    display: flex;
    flex-direction: column;
    margin: 0 0 0 auto;
    background-color: #fff;
  }
}

@media screen and (max-width: 525px) {
  .header__links-container_another {
    width: 100%;
    padding-top: 144px;
    padding-bottom: 408px;
  }
}

.header__link-container:last-of-type {
  margin-right: 3px;
}

@media screen and (max-width: 768px) {
  .header__link-container:last-of-type {
    flex: 1;
    display: flex;
  }
}

.header__link-container:nth-of-type(3) {
  margin-right: calc((377 / 1102) * 100%);
}

@media screen and (max-width: 768px) {
  .header__link-container:nth-of-type(3) {
    margin-right: 0;
  }
}

.header__link-container:nth-of-type(2) {
  margin-right: 13px;
}

@media screen and (max-width: 768px) {
  .header__link-container:nth-of-type(2) {
    margin: 0;
    margin-bottom: 28px;
  }
}

@media screen and (max-width: 525px) {
  .header__link-container:nth-of-type(2) {
    margin-bottom: 23px;
  }
}

.header__link-container:first-of-type {
  display: none;
}

@media screen and (max-width: 768px) {
  .header__link-container:first-of-type {
    display: block;
    margin-bottom: 31px;
  }
}

@media screen and (max-width: 525px) {
  .header__link-container:first-of-type {
    margin-bottom: 27px;
  }
}

.header__link {
  text-decoration: none;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #fff;
  transition: opacity .2s ease;
}

.header__link_black {
  text-decoration: none;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #000;
  transition: opacity .2s ease;
}

@media screen and (max-width: 768px) {
  .header__link {
    padding-bottom: 4px;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    color: #000;
  }
}

.header__link_type_acc {
  align-self: flex-end;
  display: flex;
  align-items: center;
  background-color: #2BE080;
  border-radius: 40px;
  width: 100px;
  min-height: 32px;
  color: #000;
  justify-content: flex-end;
}

.header__link_type_acc-white {
  align-self: flex-end;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 40px;
  width: 100px;
  min-height: 32px;
  color: #000;
  justify-content: flex-end;
  box-shadow: -2px 3px 14px -13px;
}

@media screen and (max-width: 768px) {
  .header__link_type_acc {
    font-size: 13px;
    font-weight: 500;
    line-height: 12px;
    margin-left: 8px;
    background-color: #fff;
    box-shadow: -2px 3px 14px -13px;
  }
}

.header__link_active {
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .header__link_active {
    border-bottom: 2px solid #000;
  }
}

.header__acc-icon {
  width: 26px;
  height: 26px;
  margin-left: 7px;
  margin-right: 3px;
  border-radius: 50%;
  background-color: #F9F9F9;
  background-image: url(../../images/icon__COLOR_icon-main.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.header__burger {
  display: none;
  margin-top: 15px;
  width: 44px;
  height: 44px;
  border: none;
  padding: 0;
  background-color: transparent;
  background-image: url('../../images/icon__burger.svg');
  background-position: center;
  transition: opacity .2s ease;
}

.header__burger_white {
  display: none;
  margin-top: 15px;
  width: 44px;
  height: 44px;
  border: none;
  padding: 0;
  background-color: transparent;
  background-image: url('../../images/headrburgerwhite.svg');
  background-position: center;
  transition: opacity .2s ease;
}

@media screen and (max-width: 768px) {
  .header__burger {
    display: block;
  }
}

@media screen and (max-width: 525px) {
  .header__burger {
    background-image: url('../../images/icon__burger1.svg');
  }
}

@media screen and (max-width: 525px) {
  .header__burger_white {
    background-image: url('../../images/headerburgwhitesm.svg');
  }
}

.header__burger-close {
  display: none;
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
  background-color: transparent;
  background-image: url(../../images/close_burg.svg);
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 23px;
  right: 23px;
  transition: opacity .2s ease;
}

@media screen and (max-width: 768px) {
  .header__burger-close {
    display: block;
  }
}

@media screen and (max-width: 525px) {
  .header__burger-close {
    top: 14px;
    right: 14px;
  }
}

@media (hover: hover) and (pointer: fine) {
  .header__signin:hover,
  .header__signup:hover,
  .header__link-home:hover,
  .header__link:hover,
  .header__burger-close:hover,
  .header__burger:hover {
    opacity: .6;
    cursor: pointer;
  }
}